/* Page-wide styling */
body {
    font-family: 'Arial', sans-serif;
    background-color: #f4f4f4;
}

/* Main content container area */
#main-content {
    max-width: 800px;
}

/* Primary heading styling */
h1 {
    font-weight: bold; 
}

/* Card styling: Controls layout and apprearance of individual cards */
.card {
    height: 100px;
    background-color: #333;
    color: #fff;
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 28px;
    cursor: pointer;
    border: 2px solid #ddd;
    border-radius: 10px;
    transition: transform 0.3s ease;

}

/* Hover affect for cards */
.card:hover {
    background-color: #444;
    transform: scale(1.05);
    color: white;
}

/* Matched card styling */
.card.matched {
    background-color: #28a745;
    border-color:#28a745;
    cursor: default;
}

/* Flipped card state */
.card.flipped {
    background-color: #555;
    color: white;
    transform: rotateY(180deg);
}